table{
    border: 2px;
    background-color: rgb(24, 85, 237);
    color: white;
   
}
table1{
    background-color: rgba(128, 128, 128, 0.347);
}
.table2{
    background-color: rgb(134, 198, 238);
    
}
.table2 td{
    background-color:lightblue;
}
.table3{
    background-color: rgba(172, 176, 178, 0.442);
    color: black;
}
td{
    background-color: white;
    
}

mark{
    background-color: red;
}
a{
    background-color: lightgrey;
}